body {
    position: relative;
    height: 100vh;
    background-color: blueviolet;
    
}


header {
    position: fixed;
    top: 0;
    
}


header h1{
    color: white;
}


footer {
    position: fixed;
    bottom: 0;
    
}


