* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* medidas sao tomadas da borda */
}

header {
    position: sticky;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 1.5em;
    top: 0;
    background-color: #ffd900d5;
    /* Cor de fundo */
    color: #0400ff;
    /* Cor do texto */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
    padding: 10px;
    /* Espaço ao redor de cada palavra */
    text-decoration: none;
    /* Remove sublinhado */
    color: #313030;
    /* Cor da fonte - você pode escolher outra cor */
}

/* Estilo para links não visitados */
nav a:link {
    color: #007bff;
    /* Cor do link não visitado */
}

/* Estilo para links visitados */
nav a:visited {
    color: #0400ff;
    /* Cor do link visitado */
}

/* Estilo para links ao passar o mouse */
nav a:hover {
    color: #000000;
    /* Cor ao passar o mouse */
    background-color: #f8f9fa;
    /* Cor de fundo ao passar o mouse (opcional) */
}

/* Estilo para links ativos */
nav a:active {
    color: #ff0000;
    /* Cor do link ativo */
}



nav a:last-child {
    background-color: #0066ff;
    /* Cor de fundo diferente para o último link */
    border-radius: 5px;
    color: white;
}



#poema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    /* Aumentar a altura para 100vh para ocupar toda a página */
    background-color: #003296;
    /* Cor de fundo */
    margin: 0;
    /* Remover margens externas */
    padding-bottom: 20px;
}

#paisagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    /* Aumentar a altura para 100vh para ocupar toda a página */
    background-color: #003296;
    /* Cor de fundo */
    margin: 0;
    /* Remover margens externas */
    padding-bottom: 20px;
}






#capitais {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 100vw;
    height: 100vh;
    /* Aumentar a altura para 100vh para ocupar toda a página */
    background-color: #003296;
    /* Cor de fundo */
    margin: 0;
    /* Remover margens externas */
    padding-bottom: 20px;

}



#países {}





div {
    text-align: center;
    padding: 20px;
}

.poema {
    font-size: 1rem;
    margin: 0 20px;
    /* Margens laterais */
    text-align: center;
    color: white;
}

.autor {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: white;
}

.imagem {
    width: 100%;
    /* A imagem ocupa toda a largura do contêiner */
    height: auto;
    /* Garante que a imagem não exceda a largura do seu contêiner pai */
}

.autorfoto {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: black;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.container {
    position: relative;
    /* Define um contexto de posicionamento para o elemento filho */
    width: 100%;
    /* A largura do contêiner agora ocupa 100% da largura do navegador */
    height: 300px;
    /* Defina a altura do contêiner conforme necessário */
    overflow: hidden;
    /* Esconde qualquer conteúdo que ultrapasse o contêiner */
    max-width: 600px;
    /* Se necessário, defina uma largura máxima para evitar que fique muito grande em telas grandes */
    margin: 0 auto;
    /* Centraliza o contêiner horizontalmente */
}