* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





h1::after {
  content: "游땙";
  color: rgb(0, 0, 0);
}





h1 {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 36px;
  color: #0d10c0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: auto;
  margin: 30px 0;
  /* Adiciona espa칞o acima e abaixo do t칤tulo */
}




h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #0d10c0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: left;
}

section {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}



#fotografias h3,
#video h3,
#poema h3 {
  color: #0339ad;
  font-size: 24px;
  border-bottom: 2px solid #0339ad;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}





#interesse {
  border: 2px solid #0339ad;
  /* Define as linhas ao redor da se칞칚o */
  padding: 20px 10px;
  /* Espa칞o interno da se칞칚o */
  margin: 50px 50px;
  /* Espa칞o externo da se칞칚o: cria dist칙ncia do cabe칞alho */
  background-color: #f0f0f0
    /* Cor de fundo */
}




#interesse2 {
  border: 2px solid #0339ad;
  /* Define as linhas ao redor da se칞칚o */
  border-radius: 10px;
  /* Define as linhas ao redor da se칞칚o */
  padding: 20px 10px;
  /* Espa칞o interno da se칞칚o */
  margin: 50px 0px 50px 0px;
  /* Espa칞o externo da se칞칚o: cria dist칙ncia do cabe칞alho */
  background-color: #f0f0f0
    /* Cor de fundo */
}




#restaurantes,
#monumentos,
#locaisanaoperder,
#localmelhorfoto,
#melhoralturaparavisitar {
  border: 2px solid #0339ad;
  padding: 20px 10px;
  /* Espa칞o interno da se칞칚o */
  margin: 50px 50px;
  /* Espa칞o externo da se칞칚o: cria dist칙ncia do cabe칞alho */
  background-color: #f0f0f0
    /* Cor de fundo */
}





#restaurantes2,
#monumentos2 {
  border: 2px solid #0339ad;
  border-radius: 20px;
  /* Define as linhas ao redor da se칞칚o */
  padding: 20px 10px;
  /* Espa칞o interno da se칞칚o */
  margin: 50px 0px 50px 0px;
  /* Espa칞o externo da se칞칚o: cria dist칙ncia do cabe칞alho */
  background-color: #f0f0f0
    /* Cor de fundo */


}




#locaisanaoperder2 {
  border: 2px solid #0339ad;
  border-radius: 20px;
  /* Define as linhas ao redor da se칞칚o */
  padding: 20px 20px;
  /* Espa칞o interno da se칞칚o */
  margin: 50px 0px 50px 0px;
  /* Espa칞o externo da se칞칚o: cria dist칙ncia do cabe칞alho */
  background-color: #f0f0f0;
  /* Cor de fundo */

}




img {
  width: 460px;
  /* Largura da imagem */
  height: auto;
  top: auto;
  /* A altura ser치 ajustada automaticamente para manter a propor칞칚o */
}

#iframefoto {
  border: 2px solid #0339ad;
  border-radius: 20px;
  margin: 50px 50px;
  width: 25%;
  /* Largura total do iframe */
  height: 270px;
  /* Altura do iframe */
  display: flex;
  justify-content: center;
  align-items: auto;
  overflow: hidden;
  /* Para garantir que a imagem fique dentro do cont칡iner */
}

#melhoralturaparavisitar2 {

  border: 2px solid #0339ad;
  border-radius: 20px;
  margin: 50px 0px 50px 0px;
  width: 95%;
  /* Largura total do iframe */
  height: 400px;
  /* Altura do iframe */
}

#meses {
  color: #000000;
  text-align: left;
  /* Alinhamento  esquerda */
  font-size: 24px;
  border-bottom: 2px solid #0339ad;
  padding-bottom: 10px;
  margin: 10px 0;
  /* Margem em cima e embaixo */
}






tr:nth-child(2n) {
  background-color: #2418c0;
  /* Azul claro */
  color: white;
}


h1 {
  text-transform: uppercase;
}

h3.subtitulo {
  border: 2px solid #0339ad;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 50px 0px 50px 0px;
  background-color: #f0f0f0;
  position: relative;
  /* ou 'absolute' dependendo da necessidade */
  top: -50px;
  /* Ajusta o valor para mover o elemento para cima */
}







body {
  background-color: #ffee00;

}



ol {
  margin: 0 20px;
  /* Margem ao redor da lista */
  padding-left: 20px;
  /* Espa칞o  esquerda da lista */
  list-style-type: decimal;
  /* Estilo da lista (n칰meros) */
}

nav {
  background-color: #0d10c0;
  color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  /* Torna o nav ocupar toda a largura da p치gina */
  padding: 10px 0;
  /* Espa칞amento vertical dentro do nav */
  display: flex;
  /* Usa flexbox para facilitar o espa칞amento dos itens */
  justify-content: center;
  /* Centraliza os itens horizontalmente */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* Usa flexbox para alinhar os itens */
  justify-content: space-around;
  /* Distribui espa칞o entre os itens */
  width: 80%;
  /* Controla o espa칞o que os links ocupam */
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #ffee00;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  transition: transform 0.2s;
}

nav a:hover {
  transform: scale(1.1);
}




.iframe {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}





a:hover {
  transform: scale(1.1);
}

footer {
  background-color: #ffffff;

}

main {
  padding: 20px;

}

label {
  font-size: medium;
}

input {
  font-size: medium;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}


.zoomable {
  cursor: zoom-in;
  transition: transform 0.2s ease;
  width: 120px;
  height: 80px; /* A largura desejada */
 
}

.zoomable:hover {
  transform: scale(1.05);
}


p {
  font-family: "Times New Roman", times, serif;

}