

/* Mobile*/
@media only screen and (min-width: 768px) and (max-width: 1023px){ 
    body {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 2559px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 4K */
@media screen and (min-width: 2560px) {
    body {
        grid-template-columns: repeat(6, 1fr);
    }
}