* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Medidas são tomadas da borda */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    position: sticky;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 2em;
    top: 0;
    background-color: #ffd900d5;
    color: #0400ff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #313030;
}

nav a:link {
    color: #007bff;
}

nav a:visited {
    color: #0400ff;
}

nav a:hover {
    color: #000000;
    background-color: #f8f9fa;
}

nav a:active {
    color: #ff0000;
}

nav a:last-child {
    background-color: #0066ff;
    border-radius: 5px;
    color: white;
}

#poema, #paisagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: #003296;
    margin: 0;
    padding-bottom: 20px;
}

div {
    text-align: center;
    padding: 20px;
}

.poema {
    font-size: 1rem;
    margin: 0 20px;
    text-align: center;
    color: white;
}

.autor {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    color: white;
}

.imagem {
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
    position: relative; /* Necessário para a posição absoluta da autorfoto */
}

.autorfoto {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

#capitais {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
}

.cidade {
    display: flex;
    align-items: center;
    flex: 1 1 30%;
    margin: 10px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.cidade img {
    max-width: 133px;
    max-height: 88px;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: cover;
}

.cidade h2, .cidade p {
    margin: 0;
}

.cidade p {
    margin-top: 5px;
}
